# Python Reference - Tuple
**Author:** Robert Bantele

#### Definition
* indexed
* unordered
* immutable

##### Links
https://www.w3schools.com/python/python_tuples.asp

### ctor
a tuple can be declared as comma-separated list of expressions enclosed in **round** braces

In [5]:
tuple = (1, 2, 3)
print(f"this is a tuple: {tuple}")
print(f"{type(tuple)}")

this is a tuple: (1, 2, 3)
<class 'tuple'>

### count()
len(collection) is the 'count' method in python:

In [1]:
print(f"{(1, 2, 3)} has a length of {len((1, 2, 3))}")

(1, 2, 3) has a length of 3

### unpack
shorthand syntax to unpack a tuple into variables

In [5]:
student = ("Max Müller", 22, "Informatik")

name, age, subject = student

print(name)
print(age)
print(subject)

Max Müller
22
Informatik

**but** the tuple needs to have the right amount of values for this syntax to work

In [6]:
student = ("Max Müller", 22, "Informatik", "TU München")

name, age, subject = student

print(name)
print(age)
print(subject)

ValueError: too many values to unpack (expected 3)

better slice the tuple to make sure

In [7]:
student = ("Max Müller", 22, "Informatik", "TU München")

name, age, subject = student[:3]

print(name)
print(age)
print(subject)

Max Müller
22
Informatik